# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/deployment-platform

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# AWS Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
LAMBDA_FUNCTION_NAME=post-deployment-setup

# EC2 SSH Configuration
EC2_HOST=54.xx.xx.xx
EC2_USERNAME=ubuntu
EC2_PRIVATE_KEY_PATH=./keys/ec2-key.pem

# EC2 SSM (Alternative to SSH)
EC2_INSTANCE_ID=i-xxxxxxxxxxxxxxxxx
USE_SSM=false
